<section>
  <h1>Welcome to Spotify App</h1>
  <article>
    <form class="search-box"  action="/artist" method="GET">
      <input class= "search-input" type="text" name="artist" placeholder="Search for artist">
      <button class ="btn" type="submit">Search</button>
    </form>
  </article>
</section>